.AutoHead {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: flex-end;
}
.AutoHeadContent {
  display: flex;
  align-items: baseline;
  height: 100%;

  width: 60%;
  justify-content: space-between;
}
.autoSidebtn {
  min-width: 15%;
  height: 89px;
  background-color: white;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  outline: none;
  border: none;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  align-items: center;
  padding-left: 12px;
  cursor: pointer;
  color: grey;
  transition: all 2s ease-in-out;
}
.AutoHeadContent p {
  font-size: 21px;
}
.PagesLink {
  width: 70%;
  display: flex;
  justify-content: space-around;
  font-size: 15px;
}
.PagesLink a {
  text-decoration: none;
  color: black;
}

@media (max-width: 800px) {
  .AutoHeadContent {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .PagesLink {
    display: none;
  }
  .responsiveMenuIcons {
    width: 150px;

    height: auto;
    position: relative;
  }
  .ResponsiveLink {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 50vh;
    background-color: white;
    z-index: 1000;
    top: 0px;
    align-items: center;
    padding-top: 30px;
  }
  .ResponsiveLink a {
    text-decoration: none;
    color: grey;
    font-size: 17px;
  }
  .removeDropDown {
    display: none;
  }
  .showDropDown {
    display: flex;
  }
  .AutoHeadContent {
    flex-direction: row-reverse;
    align-items: center;
  }
}
.menuIcon {
  font-size: 30px;
}

@media (min-width: 500px) {
  .responsiveMenuIcons {
    display: none;
  }
}
